/***RESPONSIVE***/
/** 
Styling begins with Mobile first
and continues with THREE breaking points:
1) Width 640px
2) Width 768px
3) Width 980px
***/
/******Global****/

* {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
}
a {
  text-decoration: none;
}

a:visited {
  color: #777;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4AAAA5;
  font-size: 28px;
}


/******General****/
body {
  background-image: url("../images/sayagata.png");
  background-repeat: repeat;
}


header {
  width: 100%;
  background-color: #fff;
  border-style: solid;
  border-color: #ddd;
  border-bottom-width: 2px;

}


/*** Header ***/
#name{
  width: 100%;
  height: 100px;
  background-color: #4AAAA5;
}

#h-name {
  font-size: 32px;
  color: #fff;
  text-align: center;
  padding-top: 25px;
}

nav {
  margin: 10px auto;
}
.nav-li {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.nav-li-separator {
  display: none;
}

/**** Main Content area ***/

main {
  width: 95%;
  margin: 10px auto;
}


.box-container {
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  padding: 10px;
  margin: 20px auto;
}

#profilepic {
  width: 100%;
}

hr {
  margin: 10px 0 20px 0;
}

/**** Aside ****/
.cm_logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

/**** Footer ***/
footer {
  width: 100%;
  height: 90px; 
  text-align: center;
  background: #666;
  padding: 20px 0 0 0;
  border-top-style: solid;
  border-width: 10px 0 0 0;
  border-color: #4aaaa5;
  float: left;
  clear: both;
}


#footer-text {
  color: #fff;
  margin: 15px 0;
  font-size: 1em;
}
